<script src="js/booking_calendar_script.js"></script>
<div id="tabs">
	<ul>
		<li><a href="#owner-bookings">Bookings by Owner</a></li>
		<li><a href="#resource-bookings">Bookings by Resource</a></li>
	</ul>
	<div id="owner-bookings">
	  <input id="owner-selector-autocomplete">
		<div id='owner-booking-calendar'></div>
	</div>
	<div id="resource-bookings">
	  <input id="resource-selector-autocomplete">
		<div id='resource-booking-calendar'></div>
	</div>
</div>
<div id="create-new-booking-form-dialog" title="Create New Booking">
	<p class="validateTips">All form fields are required.</p>
	<form>
	<fieldset>
		<label for="name">Name</label>
		<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
		<label for="email">Email</label>
		<input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
		<label for="password">Password</label>
		<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
</div>